<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Proves</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<div class="container">
<h1>Llista de Proves</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Descripcio</th>
        <th>Tipus</th>
        <th>Data</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prov: ${prova}">
        <td th:text="${prov.nom}"></td>
        <td th:text="${prov.descripcion}"></td>
        <td th:text="${prov.tipo}"></td>
        <td th:text="${#temporals.format(prov.date,'dd MMMM yyyy')}"></td>
        <td>
            <a th:href="@{/prova/update/{nom}(nom=${prov.nom})}" class="btn btn btn-warning" role="button" aria-pressed="true">Edita</a>

        </td>

        <td>
            <a  th:href="@{/prova/delete/{nom}(nom=${prov.nom})}" class="btn btn btn-danger" role="button" aria-pressed="true">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a  href="add" class="btn btn btn-success" role="button" aria-pressed="true">Afegeix prova</a>
</div>
</body>
</html>
